.header {
  background-color: blueviolet;
  height: 50px;
  width: 100%;
  /* position: fixed; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.header a {
  text-decoration-line: none;
  font-weight: bold;
  font-size: 17px;
}
.header a:hover {
  color: white;
  border-bottom: 1px solid black;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.header nav {
  display: flex;
  justify-content: space-evenly;
}

.clear {
  background-color: blueviolet;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  /* font-size: 15px; */
}
